.nav_bar {
    display: flex;
    width: 100%;
    padding: 0px 30px;
    background-color: #333;

    nav {
        width: var(--default-layout-width);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__list {
        display: flex;

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        .nav__item {
            float: left;
            .nav__item-content {
                display: block;
                color: white;
                font-size: 2rem;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            &:hover {
                background-color: #111;
            }
        }
    }
    .user__action {
        width: 42px;
        height: 42px;
        .avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .btn {
        font-size: 1.6rem;
        color: #fff;
    }
}
